#body{
  background-image: linear-gradient(0deg , #00000080 90%, #00000080 50%),url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
  margin-top: 5%;
}

#enter-task{
  padding: 1%;
  font-weight: 10;
  font-size: 20px;
}

.button{
  background-color: cornflowerblue;
  padding: 0.5%;
  color: white;
  text-align : right;
}


.itemlist2{
    background-color: peachpuff;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 4px;
    list-style-type: none;
    padding : 12px 20px;
    border: 1px solid black;
    font-size: 20px;
}

.del-item
{
  background-color:darkviolet;
  color: white;
  font-size: 18px;
  margin-top: 3px;
  float: right;
  position: relative;
  bottom: 4px;
}
